version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/scripts/generate-buildpack-docs"
    schedule:
      interval: "weekly"
    groups:
      go:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/runimage"
    schedule:
      interval: "daily"
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      actions-deps:
        patterns:
          - "*"