description = "Ubuntu 22.04 Jammy Jellyfish full image with buildpacks for Apache HTTPD, Go, Java, Java Native Image, .NET, NGINX, Node.js, PHP, Procfile, Python, and Ruby"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/dotnet-core:3.1.44"
  version = "3.1.44"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/go:4.13.54"
  version = "4.13.54"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/java-native-image:11.15.46"
  version = "11.15.46"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/java:18.12.71"
  version = "18.12.71"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/nodejs:9.3.37"
  version = "9.3.37"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/php:2.19.36"
  version = "2.19.36"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.13.0"
  version = "5.13.0"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/python:2.30.35"
  version = "2.30.35"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/ruby:0.47.44"
  version = "0.47.44"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:4.0.5"
  version = "4.0.5"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/deno:0.5.0"
  version = "0.5.0"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/runway:0.1.40"
  version = "0.1.40"

[lifecycle]
  version = "0.21.4"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/ruby"
    version = "0.47.44"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/dotnet-core"
    version = "3.1.44"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/go"
    version = "4.13.54"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/python"
    version = "2.30.35"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/php"
    version = "2.19.36"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/runway"
    version = "0.1.40"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "4.0.5"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/java-native-image"
    version = "11.15.46"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/java"
    version = "18.12.71"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/nodejs"
    version = "9.3.37"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.13.0"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/deno"
    version = "0.5.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-full:0.1.118"
  id = "io.buildpacks.stacks.jammy"
  run-image = "r.planetary-quantum.com/runway-public/runway-runimage:jammy-full"
