description = "Ubuntu 22.04 Jammy Jellyfish full image with buildpacks for Apache HTTPD, Go, Java, Java Native Image, .NET, NGINX, Node.js, PHP, Procfile, Python, and Ruby"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/dotnet-core:3.1.25"
  version = "3.1.25"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/go:4.13.28"
  version = "4.13.28"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/java-native-image:11.15.21"
  version = "11.15.21"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/java:18.12.38"
  version = "18.12.38"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/nodejs:9.3.20"
  version = "9.3.20"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/php:2.19.21"
  version = "2.19.21"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.11.4"
  version = "5.11.4"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/python:2.30.18"
  version = "2.30.18"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/ruby:0.47.27"
  version = "0.47.27"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:2.13.0"
  version = "2.13.0"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/deno:0.5.0"
  version = "0.5.0"

[[buildpacks]]
  uri = "docker://r.planetary-quantum.com/buildpacks/runway:0.1.22"
  version = "0.1.22"

[lifecycle]
  version = "0.20.18"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/ruby"
    version = "0.47.27"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/dotnet-core"
    version = "3.1.25"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/go"
    version = "4.13.28"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/python"
    version = "2.30.18"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/php"
    version = "2.19.21"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/runway"
    version = "0.1.22"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "2.13.0"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/java-native-image"
    version = "11.15.21"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/java"
    version = "18.12.38"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/nodejs"
    version = "9.3.20"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.11.4"

[[order]]

  [[order.group]]
    id = "runway-buildpacks/deno"
    version = "0.5.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-full:0.1.100"
  id = "io.buildpacks.stacks.jammy"
  run-image = "r.planetary-quantum.com/runway-public/runway-runimage:jammy-full"
